@import '~lbh-frontend/lbh/base';
@import '~lbh-frontend/lbh/components/lbh-pagination/pagination';

.pagination {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/

    nav {
        text-align: center;
        @include govuk-media-query($from: tablet) {
            text-align: left;
        }
    }

    ul {
        flex-direction: row;
        margin: 0 auto;
        @include govuk-media-query($from: tablet) {
            margin: unset;
        }
    }

    &__item {
        @include lbh-link;
        @include lbh-body-m;
        display: inline-block;
        padding: 0 5px;
        font-size: 12px;
        text-decoration: none;
        background: none;
        border: none;
        @include govuk-media-query($from: tablet) {
            font-size: 16px;
        }

        &:visited,
        &.--visited {
            color: lbh-colour('lbh-link');
        }

        &.--disabled,
        &:disabled {
            color: rgba(0, 0, 0, 0.4);
            pointer-events: none;
        }

        &.--current {
            font-weight: 700;
            cursor: default;
            pointer-events: none;

            &:link,
            &:hover,
            &:focus,
            &:visited {
                color: lbh-colour('lbh-text');
            }
        }
    }
}
