@import '~lbh-frontend/lbh/base';

.mtfh-search-result {
    float: left;
    width: auto;
    margin: 1rem 0 0 0;
    padding: 10px;
    border: 1px solid rgba(117, 117, 117, 0.4);
    border-radius: 3px;

    @include govuk-media-query($from: tablet) {
        width: auto;
    }

    @include govuk-media-query($from: desktop) {
        width: auto;
    }

    &__subtitle,
    &__row {
        margin: 6px 0 0;
    }

    &__title {
        @include lbh-heading-h4;
        margin: 0;
    }
    &__subtitle {
        @include lbh-heading-h6;
    }
    &__row {
        @include lbh-body-xs;
        color: rgba(0, 0, 0, 0.54);

        strong {
            color: #000000;
        }
    }

    a {
        @include lbh-link-common;
    }
}
