@import "~lbh-frontend/lbh/base";
@import "~lbh-frontend/lbh/components/lbh-input/input";
@import "~lbh-frontend/lbh/components/lbh-radios/radios";
@import "~lbh-frontend/lbh/components/lbh-button/button";

.mtfh-search {
    margin: 42px;

    &__header {
        max-width: 458px;
    }

    // search results wrapper
    &__results {
        overflow: hidden;
    }
}
