@import "~lbh-frontend/lbh/base";
@import "~lbh-frontend/lbh/components/lbh-input/input";
@import "~lbh-frontend/lbh/components/lbh-radios/radios";
@import "~lbh-frontend/lbh/components/lbh-button/button";

.mtfh-search {
    margin: 42px;

    &__header {
        max-width: 458px;
    }

    &__results {
        overflow: hidden;
    }

    &__result {
        border: solid 1px black;
        padding: 1rem;
        margin: 1rem 1rem 0 0;
        border-radius: 3px;
        float: left;
    }
}
