@import '~lbh-frontend/lbh/base';
@import '~lbh-frontend/lbh/components/lbh-input/input';
@import '~lbh-frontend/lbh/components/lbh-select/select';
@import '~lbh-frontend/lbh/components/lbh-radios/radios';
@import '~lbh-frontend/lbh/components/lbh-button/button';

.mtfh-search {
    margin: 42px;

    &__header {
        max-width: 458px;
    }

    &__title {
        @include lbh-heading-h2;
    }

    &__subtitle {
        @include lbh-heading-h3;
        &__highlight {
            padding-left: 0.5rem;
        }
    }

    &__filters-status {
        @include lbh-heading-h4;
        position: absolute;
        margin-top: 2em;
    }

    &__filters {
        position: relative;
        text-align: right;
        .lbh-select {
            margin-left: 0.5rem;
        }
        .lbh-form-group {
            margin-left: 1rem;
            // margin-top: 0;
        }
        .lbh-label,
        .lbh-form-group {
            display: inline-block;
        }
    }

    // search results wrapper
    &__results {
        overflow: hidden;
    }
}
